 * {
     background-color: lightgrey;
     margin: 0% 5%;
 }

 .cuello {
     border-style: solid;
     border-width: thin;
     display: flex;
     text-align: justify;
 }

 .contenedorBoton {
     margin: 1%;
     text-align: center;
 }

 .contenedorDescrip {
     display: flex;
     align-items: center;
     justify-content: right;
 }

 .botonCuello {
     margin: 3% 0 0 30%;
     border-radius: 5px;
     border: none;
     background-color: #109191;
     color: black;

     display: flex;
     align-items: center;
     justify-content: right;

 }

 .botonCuello:hover {
     background-color: #085353;
     color: white;
 }

 .descripcion {
     display: none;
 }


 .cuerpo {
     display: flex;
     justify-content: center;

 }

 .botonCuerpo {
     margin: auto;
     border-radius: 5px;
     background-color: #b93939;
 }

 .botonCuerpo:hover {
     background-color: blanchedalmond;
 }

 .piernas {
     margin: 3% 9%;
     font-size: larger;
     text-align: justify;
     font-stretch: expanded;
 }

 .cabeceraA {
     font-weight: 400;
     margin: 0%;
 }

 .pie {
     border-style: double;
     border-color: #085353;
     text-align: center;
 }

 #imagenCara {
     margin-left: 15px;
     margin-top: -800px;
     margin-bottom: 30px;
 }

 #imagenHorizontal {
     margin: 0%;
     width: 100%;
     height: 100%;
 }

 #des {
     font-family: "Times New Roman", Times, serif;
     letter-spacing: 0.12cm;
 }

 #per {
     font-family: cursive;
     direction: rtl;
 }

 #lab {
     font-family: fantasy;
     word-spacing: 0.12cm
 }

 #exp {
     font-variant: small-caps;
 }

 #edu {
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

 #vid {
     font-family: Verdana, Geneva, Tahoma, sans-serif;
 }