 .botonCuello {
    margin: 1%;
    border-radius: 5px;
    border: none;
    background-color: #109191;

    display: flex;
    align-items: center;
    justify-content: right;
    
}

.cuerpo {
    display: flex;
    justify-content: center;
       
}

.botonCuerpo{
    margin: auto;
    border-radius: 5px;
}

a{
    font-weight: bold;
}

.cabeceraA{
    font-weight: 400;
}

.pie{
   text-align: center;
}